<div class="header">
    <div class="row py-2">
        <div class="col-3 col-md-3 dp">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" height="50px" width="50px">
        </div>
    <div class="col-4 col-md-6">

    </div>
    <div class="col-5 col-md-3">
        <div class="row">
            <div class="col-4 col-md-4">
        
            </div>
            <div class="col-4 col-md-4">
                <img width="30px" class="pt-1" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png">
            </div>
            <div class="col-4 col-md-4">
                <img src="https://icon-library.com/images/android-three-dots-icon/android-three-dots-icon-0.jpg" height="40px" width="40px">
            </div>
        </div>
           
        
    </div>
        
    </div>
   
    <div class="chat-section">

    </div>
    
</div>

<div class="footer d-flex">
    <div class="imoji py-3 px-2">
       <img src="https://cdn.shopify.com/s/files/1/1431/5776/products/open-mouth-smiling-emoji-rubber-stamp.png?v=1507157804" height="25px" width="25px">
    </div>
    <div class="attach py-3 px-2">
        <img src="https://lh3.googleusercontent.com/proxy/67bVyv3oY4_ou3C1uS_z2v-n033ZgYWPuMpdtUzkpDZkAw--B_jCh8mz1tujtk8RT3nFhkYDHZYY08G_m9w6NX8XuEM7zku5-tLbl6NV97myyKip6UhvpkxMOVWvUewohUpSLjIjonV_r51lN5CRdQ" height="25px" width="25px">
    </div>
    <div class="input py-2 px-2 w-100 d-flex">
        <input type="text" class="form-control chat-input pl-2 mr-2" placeholder="type a message"/>
        <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/mic-99-207024.png" class="pt-1" height="30px" width="30px">
    </div>
    <div class="voice">
        
    </div>
</div>