<div class="header">
    <div class="row py-2">
        <div class="col-3 col-md-3 dp">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" height="50px" width="50px">
        </div>
    <div class="col-3 col-md-4">

    </div>
    <div class="col-6 col-md-5">
        <div class="row">
            <div class="col-4 col-md-4 pt-2">
                <img src="https://cdn2.iconfinder.com/data/icons/ui-chat-app-1/32/24-status-update-512.png" height="25px" width="25px">
            </div>
            <div class="col-4 col-md-4 pt-2">
                <img src="https://cdn.iconscout.com/icon/free/png-256/chat-2047240-1730135.png" height="25px" width="25px">
            </div>
            <div class="col-4 col-md-4">
                <img src="https://icon-library.com/images/android-three-dots-icon/android-three-dots-icon-0.jpg" height="40px" width="40px">
            </div>
        </div>
            <!-- <div class="status">
               
            </div>
            <div class="chat-icon">
                
            </div>
            <div class="dot">
                
            </div> -->
        
    </div>
        
    </div>
   
    
    
</div>

    <div class="row container-fluid search-bar d-flex justify-content-center py-2">
        <img width="25px" height="25px" class="pt-1" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png">
    <input type="text" class="form-control pl-5" placeholder="Search or start new chat"/>
    </div>




    <div class="chat-container">
        <div class="chat d-flex">
            <div class="dp px-2 py-3">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" height="50px" width="50px">
            </div>
            <div class="msg-show px-1 py-3">
               <span class="Name">Puja</span>
               <p class="Message text-muted">Hi Sam,It's me!!!!</p>
            </div>
        </div>
        <div class="chat d-flex">
            <div class="dp px-2 py-3">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" height="50px" width="50px">
            </div>
            <div class="msg-show px-1 py-3">
                <span class="Name">Damon</span>
               <p class="Message text-muted">Hi Sam,It's me!!!!</p>
            </div>
        </div>
        <div class="chat d-flex">
            <div class="dp px-2 py-3">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" height="50px" width="50px">
            </div>
            <div class="msg-show px-1 py-3">
                <span class="Name">Adi</span>
                <p class="Message text-muted">Hi Sam,It's me!!!!</p>
            </div>
        </div>
    </div>