*{
    margin: 0;
    padding: 0;
   
    
}
/* .header{
    display: flex;

}
.dp{
    width: 70px;
    height: 60px;
    flex: 0.50;
   
}
.mix{
    display: flex;
    
    justify-content: space-between;
} */

.header{
    
    background-color: #edeee5de;

}
.dp{
    padding-left: 20px;
    
   
}
.dp img{
    border-radius: 50%;

}

/* search bar */
.search-bar{
    background-color: #fbfbfb;
  height:50px;
  width:100%;
 
}
.search-bar input{
    width:90%;
    height: 30px;
   
    border:1px solid #f7f7f7;
    border-radius:25px;

    
}
.search-bar img {
    position:absolute;
    left:35px;
}
.msg-show{
    width: 100%;
    border-bottom:1px solid rgba(224, 214, 214, 0.603);
}
.chat:hover{
    
    background-color:#e3e6e893;
}
.Name{
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}
.Message{
    font-size:14px;
}
@media screen and (max-width: 600px) {
    .search-bar img {
      
       position:relative;
    }
  }